<% if user_signed_in? %>
<li class="nav-item">
          <%= link_to " Your Recipes", recipes_path, class:"nav-link"%>
        </li>

        <li class="nav-item">
          <%= link_to "All Recipes", recipes_path, class:"nav-link"%>
        </li>

        <li class="nav-item">
          <%= link_to "Ingredients", ingredients_path, class:"nav-link"%>
        </li>

<% else %>
<%=  'Goodbye' %>
<% end %>