<% if user_signed_in? %>
<li class="nav-item">
          <%= link_to " Your Recipes", "/users/show", class:"nav-link"%>
        </li>

        <li class="nav-item">
          <%= link_to "Ingredients", ingredients_path, class:"nav-link"%>
        </li>

<% else %>
<% end %>

<% if user_signed_in? %>
<%= 'Logged IN' %>
<% else %>
<%= "Logged OUT" %>
<% end %>
